<div>@Name : @Count</div>

<div class="col1">
    <div class="row1">
        <button class="btn btn-primary" @onclick="()=>ChangeCount(1)">+1</button>
        <button class="btn btn-primary" @onclick="()=>ChangeCount(5)">+5</button>
        <button class="btn btn-primary" @onclick="()=>ChangeCount(10)">+10</button>
    </div>

    <div class="row1">
        <button class="btn btn-secondary" @onclick="()=>ChangeCount(-1)">-1</button>
        <button class="btn btn-secondary" @onclick="()=>ChangeCount(-5)">-5</button>
        <button class="btn btn-secondary" @onclick="()=>ChangeCount(-10)">-10</button>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    public int Count { get; private set; }

    private void ChangeCount(int amount = 1)
    {
        Count += amount;
        if (Count < 0) Count = 0;
    }

    public void Reset()
    {
        Count = 0;
        this.StateHasChanged();
    }
}
