.tracker-container {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.tracker-button-row {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 3px;

    /* flex-flow: row wrap;
    margin-bottom: 4px; */
}

.tracker-button-row button {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 33%;
}


.header-row {
    align-items: center;
    margin-bottom: 5px;
}

div.row1 {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 3px;
}

div.row1 button {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 33%;
}

div.col1 {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}